GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
CLASP_DEPLOYMENT_ID=""
CLASP_DEPLOYMENT_URL=""
SPREADSHEET_ID=""
APPS_SCRIPT_SCRIPT_ID=""
DATABASE_URL="file:/Users/brianvance/.config/mint-csv-converter/receipts.db"
